<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <h2>Cantidad: {{ cantidad }}</h2>
    <table border="1" style="height: 30px;">
        <thead>
            <td>Rut</td>
            <td>Dv</td>
            <td>Nombre</td>
            <td>Teléfono</td>
            <td>Email</td>
            <td>Dirección</td>
            <td>Usuario</td>
        </thead>
        <tbody>           
            {% for cliente in clientes %}
                <tr style="padding: 3px;">
                    <td>{{ cliente.rut_cliente }}</td>
                    <td>{{ cliente.dv }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.direccion }}</td>
                    <td>{{ cliente.usuario }}</td>
                </tr>
            {% endfor %}     
        </tbody>
    </table>
</body>
</html>