{% extends "base_generic.html" %} 
{% block title %}Reservas{% endblock %} 
{% block title_main %}Mantenedor de Reservas{% endblock %} 

{% block content %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #dddddd;
    }
    
    td, th {
        text-align: left;
        padding-left: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    
    thead {
        background-color: #dddddd;
        font-weight: bold;
    }
    </style>

    <main role="main" class="container ">
        <h3 class="lead" style="color: #596272"><strong>Agregar Huéspedes</strong></h3><br>

        <div>
            <a class="nav-link mb-2" href="{% url 'reserva_create' %}">
                    <i class="fas fa-chevron-left"></i> Volver</a>
          </div><br>

          <div class="card rounded shadow p-4 pt-1 col-12 bg-white" style="margin-bottom: 100%;"><br>
            <form id="form-add-huesped" method="post">
                {%csrf_token%}
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="id_huesped">{{ form.rut_huesped.label }}</label>
                        {{ form.rut_huesped }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_habitacion">{{ form.habitacion.label }}</label>
                        {{ form.habitacion }}
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button types="submit" class="btn btn-info mb-4 shadow-sm" style="width: 120px;">
                        Agregar
                        </button>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <button types="button" class="btn btn-primary mb-4 shadow-sm" style="width: 120px;" onclick="location.href='/website/reserva';">
                        Finalizar
                        </button>
                    </div>
                </div>    
            </form>
            
            <div class="table-responsive">
                <table id="table-huespedes" class="">
                    <thead>
                        <tr>
                            <th>RUT</th>
                            <th>Nombre</th>
                            <th>E-mail</th>
                            <th>Habitación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>      
                        {% for huesped in huespedes %}
                        <tr>
                            <td>{{huesped.rut_huesped.rut_huesped}}-{{huesped.rut_huesped.dv}}</td>
                            <td>{{huesped.rut_huesped.nombre}}</td>
                            <td>{{huesped.rut_huesped.email}}</td>
                            <td>{{huesped.habitacion}}</td>
                            <td>
                                <a  class="btn btn-danger" style="width: 120px; margin: 5px" 
                                    href="{% url 'rem-huesped' huesped.id_reserva.pk huesped.rut_huesped.pk huesped.habitacion.pk %}" 
                                    role="button">
                                    Quitar
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </main>

  
{% endblock %}