{% extends "base_generic.html" %}
{% block title %}Reservas{% endblock %}
{% block title_main %}Mantenedor de Reservas{% endblock %}

{% block content %}

<a class="btn btn-primary" href="{% url 'reserva_create' %}" role="button">Nueva Reserva</a>
 
<div class="table-responsive">
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>ID Reserva</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Cliente</th>
        <th>Vigente</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for reserva in reserva_list %}
    <tr>
        <td>{{reserva.id_reserva}}</td>
        <td>{{reserva.fecha_desde}}</td>
        <td>{{reserva.fecha_hasta}}</td>
        <td>{{reserva.cliente}}</td>
        <td>{{reserva.vigente}}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'reserva_update' reserva.pk %}" role="button">Editar</a>
			<a class="btn btn-primary" href="{% url 'reserva_anular' reserva.pk %}" role="button">Anular</a>
        </td>
    </tr>
    {% endfor %}
    
    </tbody>
</table>
</div>

{% endblock %}