.btns a{
    float: left; 
    margin-right: 15px;
    width: 120px;
    transition: 0.3s;
}

.btns a:hover{
    
    color:white;
    font-size: 15.5px;
    text-shadow: 50px 30px 00px grey ;


    
}


